@font-face {
    font-family: 'DK Lemon Yellow Sun';
    src: url('https://github.com/EmilyAShaw/People_Zoo/blob/master/font/DK%20Lemon%20Yellow%20Sun.otf');
   
    font-weight: 100;
    font-style: regular;
}